# Protect the root official plugin ecosystem manifest
/plugins.json @bobbycomet

# Protect the official main manifest file
/manifest.json @bobbycomet

# Protect the official plugins directory and all files within it
/plugins/ @bobbycomet

/.github/ @bobbycomet

/conkystudio/ @bobbycomet

/packaging/ @bobbycomet

/CODE_OF_CONDUCT.md/ @bobbycomet

/COMMUNITY_STORE.md/ @bobbycomet

/requirements.txt @bobbycomet

/store.json @bobbycomet
